aiodns==2.0.0
aiofiles==0.7.0
aiohttp==3.7.4.post0
anyio==3.3.0
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.9.3
cchardet==2.1.7
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
DAWG-Python==0.7.2
decorator==5.0.9
docopt==0.6.2
flake8==3.9.2
idna==3.2
mccabe==0.6.1
more-itertools==8.8.0
multidict==5.1.0
packaging==21.0
pluggy==0.13.1
py==1.10.0
pycares==4.0.0
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.1
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
pyparsing==2.4.7
pytest==5.4.3
requests==2.26.0
sniffio==1.2.0
soupsieve==2.2.1
typing-extensions==3.10.0.2
urllib3==1.26.6
wcwidth==0.2.5
yarl==1.6.3
